@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 80%;
  font-family: 'Roboto', sans-serif;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,*::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #67727A;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* TEXT */

h1 {
  font-size: 22pt;
  font-weight: 200;
}

p {
  font-size: 12pt;
  font-weight: 200;
}

/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 30px;
  box-sizing: border-box;
  transition: .5s;

}

nav.black {
  background: #ffffffba;
  height: 60px;
  padding: 10px 25px;
  z-index: 99999;
}

nav .logo {
  float: left;
}

nav .logo img {
  height: 40px;
  transition: .5s;
}

nav.black .logo img {
  height: 35px;
}

nav ul {
  margin-top: 15px;
  padding: 0;
  display: none;
}

nav ul li {
  list-style: none;
  padding: 20px;
  margin-top: 5px;
  text-align: center;
  background-color: #ffffffba;
  transition: 0.3s;
}

nav ul li:hover {
  background-color: #fff;
}

nav.black ul li {
  padding: 0px 20px;
}

nav ul li a {
  list-style: 80px;
  color: #262626;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

nav.black ul li a {
  color: #000;
  line-height: 60px;
  transition: .3s;
}

nav ul li a:hover {
  color: #67727A;
}

nav.black ul li a:hover {
  color: #67727A;
}

.toggle {
  width: 100%;
  padding: 5px;
  text-align: right;
  box-sizing: border-box;
  color: #000;
  font-size: 25px;
  transition: .3s;
}

.toggle:hover {
  color: #67727A;
}

.active {
  display: block;
}



/* ABOUT */
.about-me {
  width: 100%;
  height: 100vh;
  padding: 50% 10%;
  background: url("../images/banner.jpg") fixed;
  background-size: cover;
}

.about-me h1 {
  color: #fff;
}

.about-me p {
  color: #fff;
}

/* PROJECTS */

.project-list {
  width: 100%;
  padding: 5px 2px;
  background-size: cover;
}

.project-list h1 {
  padding: 60px 20% 10px;
}

.unit img {
  width: 100%;
  padding: 3px 5px;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.container:hover .overlay {
  opacity: .7;
}

.icontext {
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  trasform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* CONTACT */
.contact-me {
  width: 100%;
  height: 100vh;
  padding: 40% 10%;
  background-size: cover;
}

.resume-box {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

.resume-icon {
  color: #67727A;
}

.resume-icon:hover {
  color: #000;
}

/* PROJECT PAGES */

.project-img {
  width: 100%;
}

.project-info {
  width: 100%;
  padding: 100px 20%;
}

/*TABLET SIZE*/
@media only screen and (min-width: 720px) {

    nav {
    padding: 10px 100px;
    }

    nav.black {
    padding: 10px 50px;
    }

    nav ul {
    margin: 0;
    float: right;
    display: flex;
    }

    nav ul li {
    margin-top: 0; 
    display: inline-block;
    background-color: transparent;
    }
  
    nav ul li:hover {
    background-color: transparent;
    }

    .toggle {
      display: none;
    }

    h1 {
    font-size: 26pt;
    }

    p {
    font-size: 16pt;
    }

    .about-me {
      padding: 20%;
    }

    .project-list {
      padding: 70px 0;
    }

    .project-list h1 {
      padding: 0 20% 10px;
    }

    .contact-me {
      padding: 15% 20%;
    }

    .resume-box {
    font-size: 40px;
    }

}

/* WEB SIZE*/
@media only screen and (min-width: 60em) {

    h1 {
    font-size: 30pt;
    }

    p {
    font-size: 20pt;
    }

    .about-me {
      padding: 350px 20% 0 20%;
    }

    .contact-me {
      padding: 250px 20%;
    }

}


/* FOOTER */

footer p {
  margin-top: 10px;
  font-size: 10pt;
  text-align: center;
  padding: 10px;
}
