@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-size: 80%;
  font-family: 'Roboto', sans-serif;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,*::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #67727A;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

nav {
  width: 100%;
  background: #00316b;

}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background: #fff;
}

ul li a {
  color: #fff;
  text-decoration: none;
}
